label {
    /*
    Replace "inherit" with your favorite color
  */
    color: inherit;
}

.no-transition,
.no-transition * {
    transition: none;
    transition-duration: 0s;
    animation: none;
}

.italic {
    font-style: italic;
}

.timer {
    font-family: var(--monospace-font-family);
}

.active-timer {
    color: #33d17a;
}

.inactive-timer {
    color: #888888;
}

.redsplit {
    color: #ed333b;
}

.gainedredsplit {
    color: #f66151;
}

.greensplit {
    color: #33d17a;
}

.lostgreensplit {
    color: #26a269;
}

.goldsplit {
    color: #e5a50a;
}

.bigtimer {
    font-size: 36px;
}

.smalltimer {
    font-size: 18px;
}

/* CUSTOM STYLES FOR SEGMENT LISTING */

.no-background {
    background-color: transparent;
    border: none;
}

.splits-container {
    border-radius: 12px;
    border: 1px solid @window_bg_color;
    box-shadow:
        0 0 0 1px rgba(0, 0, 6, 0.03),
        0 2px 6px 2px rgba(0, 0, 6, 0.03);
}

.split-boxed-list {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.last-split-boxed-list {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.split-boxed-list,
.last-split-boxed-list {
    background-color: @card_bg_color;
}

.split-boxed-list row:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.last-split-boxed-list row:last-child {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top: 2px solid var(--sidebar-border-color);
}

.last-split-boxed-list row,
.split-boxed-list row {
    border-bottom: 1px solid var(--sidebar-border-color);
}

.last-split-boxed-list row.activatable:selected,
.split-boxed-list row.activatable:selected {
    background-color: alpha(@accent_bg_color, 0.25);
}

.last-split-boxed-list row.activatable:not(:selected):hover,
.split-boxed-list row.activatable:not(:selected):hover {
    background-color: alpha(@card_bg_color, 0.3);
}

.last-split-boxed-list row.activatable:not(:selected):active,
.last-split-boxed-list row.activatable.has-open-popup,
.split-boxed-list row.activatable:not(:selected):active,
.split-boxed-list row.activatable.has-open-popup {
    background-color: alpha(@card_bg_color, 0.8);
}

.last-split-boxed-list row:focus-visible,
.split-boxed-list row:focus-visible {
    outline: 2px solid @accent_color;
    outline-offset: -1px;
    transition: outline-color 150ms ease;
}

.current-segment {
    background-color: alpha(@accent_bg_color, 0.5);
}

/* Table */
.table {
    border-radius: 12px;
    border-color: @card_bg_color;
    background-color: @window_bg_color;
    border-style: solid;
    border-width: 2px;
    box-shadow:
        0 0 0 1px rgba(0, 0, 6, 0.03),
        0 2px 6px 2px rgba(0, 0, 6, 0.03);
}

.table header > * {
    border-color: @card_bg_color;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
}
.table header > *:first-child {
    border-left-width: 0px;
}
.table header > *:last-child {
    border-right-width: 0px;
}
.table header label {
    color: @view_fg_color;
    text-decoration-line: underline;
}

.table cell {
    padding: 0px;
    border-radius: 3px;
    border-color: @view_bg_color;
    border-style: solid;
    border-width: 1px;
}
.table label,
.table entry {
    border-radius: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 18px;
    padding-left: 18px;
}
.table row entry {
    background-color: @card_bg_color;
}

.table row:last-child cell:first-child {
    border-bottom-left-radius: 10px;
}
.table row:last-child cell:first-child entry {
    border-bottom-left-radius: 10px;
}
.table row:last-child cell:first-child entry:focus-within {
    border-bottom-left-radius: 10px;
}

.table row:last-child {
    border-bottom-right-radius: 7.5px;
}
.table row:last-child cell:last-child entry {
    border-bottom-right-radius: 7.5px;
}
.table row:last-child cell:last-child entry:focus-within {
    border-bottom-right-radius: 7.5px;
}
